body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0077B6;
    border-radius: 19px;
}

button {
    margin-top: 5px;
    border-radius: 0px;
    border: none;
    color: white;
    background: #0077B6;
    padding: 8px 15px;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 19px;

}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a {
    color: #0077B6;
}

#dlt-btn{
    background: white;
    color: #0077B6;
    border: 1px solid #0077B6;
}
